@using Csh_project.Blazor.Data

<h3>DishesList</h3>
@if (Dishes == null)
{
    <p>Загрузка ...</p>
}
else
{
    <div class="list-group">
        @{
            var i = 1;
            foreach (var dish in Dishes)
            {

                <button type="button" class="list-group-item list-group-
item-action">

                    @(i++) - @dish.DishName
                </button>
            }
        }
    </div>
}

@code {
    [Parameter]
    public IEnumerable<ListViewModel> Dishes { get; set; }
    [Parameter]
    public EventCallback<IEnumerable<ListViewModel>> DishesChanged
    {
        get; set;
    }
}