@using Csh_project.Blazor.Data
@using Csh_project.Blazor.Components
@using Csh_project.Blazor.Pages
@using Csh_project.Blazor.Shared

@page "/apidemo"
@inject HttpClient client
<div class="container">
    <DishesList @bind-Dishes="dishes"
                SelectedObjectChanged="ShowDetails"></DishesList>
    <DishDetails @bind-Dish="SelectedDish"></DishDetails>
</div>
@code {
    [Parameter]
    public IEnumerable<ListViewModel> dishes { get; set; }
    [Parameter]
    public DetailsViewModel SelectedDish { get; set; }
    private async Task ShowDetails(int id)
    {
        SelectedDish =
        await
        client.GetFromJsonAsync<DetailsViewModel>(apiBaseAddress + $"/{id}");
    }

    string apiBaseAddress = "https://localhost:44375/Api/Dishes";
    protected override async Task OnInitializedAsync()
    {
        dishes =
        await
        client.GetFromJsonAsync<IEnumerable<ListViewModel>>(apiBaseAddress);
    }
}